.header {
  background: linear-gradient(-45deg, rgba(76, 184, 196, .7), rgba(60, 211, 173, .7)) fixed, url(tokyo-tower-825196_1280.jpg) fixed;
  background-size: cover;
  height: 500px;
}

.engineer {
  font-weight: bold;
}

.contactInfoHeader {
  padding: 50px 0 0 0;
}

.headline {
  padding: 50px 0 0 0;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact li {
  list-style-type: none;
}

.myProjects {
  background-color:rgba(238, 238, 238);
  top: 500px;
  height: auto;
  padding: 50px 0 0 0;
}

.projectLocation {
  margin: 0 auto;
}

.aboutMe {
  background: radial-gradient(#F89174, #FFC778);
  padding: 40px 10% 20px 10%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-9 { 
  font-size: 9px; 
}

.footer {
  background-color: white;
  height: 200px;
  padding: 40px 10% 0 10%;
}

.project {
  margin: 2% auto 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.media {
  height: auto;
  width: 480px;
}

.cardHeader {
  text-align: center;
}

.image {
  height: 240px;
  width: 480px;
  margin: 2% auto;
}

.content {
  height: auto;
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}