.header {
  background: linear-gradient(-45deg, rgba(76, 184, 196, .7), rgba(60, 211, 173, .7)) fixed, url(tokyo-tower-825196_1280.jpg) fixed;
  background-size: cover;
  height: 500px;
}

.headline {
  padding: 50px 0 0 0;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact li {
  list-style-type: none;
}

.myProjects {
  background-color:rgba(238, 238, 238);
  top: 500px;
  height: 3000px;
  min-width: 100%;
  padding: 50px 0 0 0;
}

.aboutMe {
  background: radial-gradient(#F89174, #FFC778);
  padding: 40px 10% 20px 10%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-9 { 
  font-size: 9px; 
}

.footer {
  background-color: white;
  /* top: 850px; */
  height: 200px;
  padding: 40px 10% 0 10%;
}

.image {
  height: 237px;
  padding-top: '56.25%';
}

.project {
  margin: 0 0 2% 30%;
}

.cards {
  max-width: 480px;
}